<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
</head>
<body>
    {% if query %}
    <h3>搜索结果如下：</h3>
    {% for result in page.object_list %}
        <a href="{% url 'babymall:details' result.object.id %}">{{ result.object.title }}</a><br/>
    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
        {% if page.has_previous %}<a href="?q=&amp;page=">
        {% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}
            <a href="?q=&amp;page=">
        {% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
    {% endif %}
</body>
</html>