{% load extend_fun %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
  <script type="text/javascript" src="/static/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body id="list-cont">
  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="{% url 'babymall:index' %}">首页</a>
      </p>
      <div class="sn-quick-menu">


          {% if request.user.username %}
              {% getshopcart request.user as count %}
              {% getsuer request.user as sid %}
              <div class="login"><a href="{% url 'babymall:login' %}">用户：{{ request.user }}</a></div>
              <div class="login" ><a style="color: #0C0C0C" href="{% url 'babymall:loginout' %}">退出</a></div>
              <div class="sp-cart"><a style="color: #ff5500" href="{% url 'babymall:shopcart' sid %}">购物车：</a><span>{{ count }}</span></div>

          {% else%}
              <div class="login"><a href="{% url 'babymall:login' %}">登录</a></div>
              <div class="login"><a href="{% url 'babymall:register' %}">注册</a></div>
          {% endif %}


          {% block login %}
          {% endblock %}




      </div>
    </div>
  </div>


  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="母婴商城">
            <img src=" /static/img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="/search/" class="layui-form" method="get" novalidate>
            <input type="search" name="q" required   autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" type="submit" >
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="{% url 'babymall:commodity' %}" class="active">所有商品</a>
            <a href="{% url 'babymall:buytoday' %}">今日团购</a>
            <a href="{% url 'babymall:information' %}">母婴资讯</a>
            <a href="{% url 'babymall:about' %}">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="category-con">
      <div class="category-inner-con w1200">
        <div class="category-type">
          <h3>全部分类</h3>
        </div>
        <div class="category-tab-content">
          <div class="nav-con">
            <ul class="normal-nav layui-clear">

                {% for l1 in com %}
                    <li class="nav-item">
                        <div class="title">{{ l1.title }}</div>
                        <p>
                        {% getcomid l1.id as clss %}
                        {% for l2 in clss.classifys_set.all %}
                            <a href="">{{ l2.title }}</a>
                        {% endfor %}
                        </p>
                        <i class="layui-icon layui-icon-right"></i>
                      </li>
                {% endfor %}

            </ul>
          </div>
        </div>
      </div>
      <div class="category-banner">
        <div class="w1200">
          <img src=" /static/img/banner1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="floors">
      <div class="sk">
        <div class="sk_inner w1200">
          <div class="sk_hd">
            <a href="javascript:">
              <img src=" /static/img/s_img1.jpg" alt="">
            </a>
          </div>
          <div class="sk_bd">
            <div class="layui-carousel" id="test1">
              <div carousel-item>
                <div class="item-box">
                  {% for com in com1 %}
                    <div class="item">
                        <a href="{% url 'babymall:details' com.id %}"><img src=" /static/media/{{ com.img }}" alt=""></a>
                        <div class="title">{{ com.title }}</div>
                        <div class="price">
                          <span>￥{{ com.ori_pic }}.00</span>
                          <del>￥{{ com.ciur_pic }}.00</del>
                        </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="item-box">
                  {% for com in com2 %}
                    <div class="item">
                        <a href="{% url 'babymall:details' com.id %}"><img src=" /static/media/{{ com.img }}" alt=""></a>
                        <div class="title">{{ com.title }}</div>
                        <div class="price">
                          <span>￥{{ com.ori_pic }}.00</span>
                          <del>￥{{ com.ciur_pic }}.00</del>
                        </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="hot-recommend-con">
      <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
       <div class="hot-con1 w1200 layui-clear">
          <div class="item">
            <h4>热销推荐</h4>
            <div class="big-img">
              <a href="javascript:"><img src=" /static/img/hot1.png"></a>
            </div>
            <div class="small-img">
              <a href="javascript:"><img src=" /static/img/hot2.png" alt=""></a>
            </div>
          </div>
          <div class="item">
            <div class="top-img">
              <a href="javascript:"><img src="/static/img/hot5.jpg"></a>
            </div>
            <div class="bottom-img">
              <a href="javascript:"><img src="/static/img/hot6.jpg"></a>
              <a class="baby-cream" href="javascript:;"><img src="/static/img/hot7.jpg"></a>
            </div>
          </div>
          <div class="item item1 margin0 padding0">
            <a href="javascript:"><img src=" /static/img/hot8.jpg"></a>
            <a href="javascript:"><img class="btm-img" src=" /static/img/hot9.jpg"></a>
          </div>
      </div>
    </div>



    <div class="product-cont w1200" id="product-cont">
      <div class="product-item product-item1 layui-clear">
        <div class="left-title">
          <h4><i>1F</i></h4>
          <img src="/static/img/icon_gou.png">
          <h5>宝宝服饰</h5>
        </div>
        <div class="right-cont">
          <a href="javascript:;" class="top-img"><img src=" /static/img/img12.jpg" alt=""></a>
          <div class="img-box">
            <a href="javascript:;"><img src=" /static/img/s_img7.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img8.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img9.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img10.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img11.jpg"></a>
          </div>
        </div>
      </div>
      <div class="product-item product-item2 layui-clear">
        <div class="left-title">
          <h4><i>2F</i></h4>
          <img src="/static/img/icon_gou.png">
          <h5>奶粉辅食</h5>
        </div>
        <div class="right-cont">
          <a href="javascript:;" class="top-img"><img src=" /static/img/img12.jpg" alt=""></a>
          <div class="img-box">
            <a href="javascript:;"><img src=" /static/img/s_img7.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img8.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img9.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img10.jpg"></a>
            <a href="javascript:;"><img src=" /static/img/s_img11.jpg"></a>
          </div>
        </div>
      </div>
      <div class="product-item product-item3 layui-clear">
        <div class="left-title">
          <h4><i>3F</i></h4>
          <img src="/static/img/icon_gou.png">
          <h5>宝宝用品</h5>
        </div>
        <div class="right-cont">
          <a href="javascript:;" class="top-img"><img src="/static/img/img12.jpg" alt=""></a>
          <div class="img-box">
            <a href="javascript:;"><img src="/static/img/s_img7.jpg"></a>
            <a href="javascript:;"><img src="/static/img/s_img8.jpg"></a>
            <a href="javascript:;"><img src="/static/img/s_img9.jpg"></a>
            <a href="javascript:;"><img src="/static/img/s_img10.jpg"></a>
            <a href="javascript:;"><img src="/static/img/s_img11.jpg"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="product-list-box" id="product-list-box">
      <div class="product-list-cont w1200">
        <h4>更多推荐</h4>
        <div class="product-item-box layui-clear">
          {% for com in com2  %}
             <div class="list-item">
            <a href="{% url 'babymall:details' com.id %}"><img src="/static/media/{{ com.img }}" alt="" style=" width: 160px; height: 160px"></a>
            <p>{{ com.title }}</p>
            <span>￥{{ com.ciur_pic }}.00</span>
          </div>
          {% endfor %}



          </div>
        </div>
      </div>
    </div>


  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:">7天无理由退换货</a>
          <a class="icon2" href="javascript:">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">母婴资讯</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">母婴商城版权所有 &copy; 2012-2020 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    </div>
  </div>
  <script type="text/javascript">

layui.config({
    base: '/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','carousel'],function(){
      var carousel = layui.carousel,
     mm = layui.mm;
     var option = {
        elem: '#test1'
        ,width: '100%' //设置容器宽度
        ,arrow: 'always'
        ,height:'298'
        ,indicator:'none'
      };
      carousel.render(option);
      // 模版引擎导入
     // var ins = carousel.render(option);
     // var html = demo.innerHTML;
     // var listCont = document.getElementById('list-cont');
     // // console.log(layui.router("#/about.html"))
     //  mm.request({
     //    url: '../json/index.json',
     //    success : function(res){
     //      console.log(res)
     //      listCont.innerHTML = mm.renderHtml(html,res)
     //      ins.reload(option);
     //    },
     //    error: function(res){
     //      console.log(res);
     //    }
     //  })


});
  </script>
</body>
</html>