{% extends 'base.html' %}
{% block body %}
<div class="banner-bg w1200">
      <h3>夏季清仓</h3>
      <p>宝宝被子、宝宝衣服3折起</p>
    </div>
<div class="cart w1200">
      <div class="cart-table-th">
        <div class="th th-chk">
          <div class="select-all">
            <div class="cart-checkbox">
              <input class="check-all check" id="allCheckked" type="checkbox" value="true">
            </div>
          <label>&nbsp;&nbsp;全选</label>
          </div>
        </div>
        <div class="th th-item">
          <div class="th-inner">
            商品
          </div>
        </div>
        <div class="th th-price">
          <div class="th-inner">
            单价
          </div>
        </div>
        <div class="th th-amount">
          <div class="th-inner">
            数量
          </div>
        </div>
        <div class="th th-sum">
          <div class="th-inner">
            小计
          </div>
        </div>
        <div class="th th-op">
          <div class="th-inner">
            操作
          </div>
        </div>
      </div>
      <div class="OrderList">
        <div class="order-content" id="list-cont">
            {% for s in user.shop_set.all %}
                <ul class="item-content layui-clear">
                    <li class="th th-chk">
                      <div class="select-all">
                        <div class="cart-checkbox">
                          <input class="CheckBoxShop check" id="" type="checkbox" num="all" name="select-all" value="true">
                        </div>
                      </div>
                    </li>
                    <li class="th th-item">
                      <div class="item-cont">
                        <a href="javascript:"><img src="/static/{{ s.img }}" style="height: 98px; width: 98px" alt=""></a>
                        <div class="text">
                          <div class="title">{{ s.title }}</div>
                          <p><span>{{ s.color }}</span>  <span>130</span>cm</p>
                        </div>
                      </div>
                    </li>
                    <li class="th th-price">
                      <span class="th-su">{{ s.price }}.00</span>
                    </li>
                    <li class="th th-amount">
                      <div class="box-btn layui-clear">
                        <div class="less layui-btn">-</div>
                        <input class="Quantity-input" type="text" name="" value="{{ s.num }}" disabled="disabled">
                        <div class="add layui-btn">+</div>
                      </div>
                    </li>
                    <li class="th th-sum">
                      <span class="sum">{{ s.subtotal }}.00</span>
                    </li>
                    <li class="th th-op">
                        <a href="{% url 'babymall:deleone' s.id %}"><span class="dele-btn">删除</span></a>
                    </li>
                  </ul>
            {% endfor %}

        </div>
      </div>

      <div class="FloatBarHolder layui-clear">
        <div class="th th-chk">
          <div class="select-all">
            <div class="cart-checkbox">
              <input class="check-all check" id="" name="select-all" type="checkbox"  value="true">
            </div>
            <label>&nbsp;&nbsp;已选<span class="Selected-pieces">0</span>件</label>
          </div>
        </div>
        <div class="th batch-deletion">
            <a href="{% url 'babymall:deleall' %}"><span class="batch-dele-btn">批量删除</span></a>
        </div>
        <div class="th Settlement">
          <button class="layui-btn">结算</button>
        </div>
        <div class="th total">
          <p>应付：<span class="pieces-total">0</span></p>
        </div>
      </div>
    </div>
{% endblock %}

{% block scr %}
<script type="text/javascript">
  layui.config({
    base: '/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','jquery','element','car'],function(){
    var mm = layui.mm,$ = layui.$,element = layui.element,car = layui.car;

    // 模版导入数据
    // var html = demo.innerHTML,
    // listCont = document.getElementById('list-cont');
    // mm.request({
    //   url: '../json/shopcart.json',
    //   success : function(res){
    //     listCont.innerHTML = mm.renderHtml(html,res)
    //     element.render();
    //     car.init()
    //   },
    //   error: function(res){
    //     console.log(res);
    //   }
    // })
    //
    car.init()


});
</script>
{% endblock %}




